<div class="container mt-5"> 
    <div class="row">
        <div class="col">
            <nav >
                <div class="container-fluid">
                    <a type="button" class="button-scd"   href="/api/products">Volver a ver a la tienda</a>
                    <a type="button" class="button-scd"   href="/api/user/admin/6535d11650469334680883f8">Cambiar rol de usuario</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="row mt-4">
        <div class="lista-usuarios">
            <h2>Lista de Usuarios</h2>
            <ul class="card-container">
                {{#each users }}
                    <li class="card-container-user">
                        <div class="card-user">                            
                            <span class="fw-bold">{{first_name}} {{last_name}}</span><br>
                            <span class="fw-bold">{{_id}} </span><br>
                            <span class="fw-bold"></span>Email: {{email}}</span><br>
                            <span class="fw-bold">Role: {{role}}</span>   <br>                                                  
                            <span class="fw-bold">Ultima conexión:{{last_connection}}</span><br>
                       </div>
                        <button type="button" class="button-scd button-delete-user" id="{{_id}}">Eliminar</button>                        
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>


<script src="/js/edit-user.js"></script>