<div id="product-list" class="contenedor-principal">
  <div class="Prod">
    <p>Mocking de Productos</p>    
  </div>
    {{#each products }}
     <div class="card-container">
        <div class="card-body">
          <h2 class="card-title">{{this.name}}</h2>
          <p class="card-text">Categoría: {{category}}</p>
          <p class="card-text">Descripcion: {{description}}</p>
          <p class="card-text">Disponibilidad: {{stock}}</p>
          <p class="card-text">Precio: ${{price}}</p>
   
          <button type="button" class="button-scd button-add-to-cart" class="{{user.user.user.cart}}" id="{{_id}}">Agregar al Carrito</button>
  
          <button type="button" class="button-scd view-details-button" id="{{_id}}">Ver Detalles</button> 
        </div>
      </div>
    {{/each}}
  </div>