
<div class="contenedor-principal"> 
  <div class="Bienvenido">
     <p>Bienvenid@ {{user.user.user.first_name}} {{user.user.user.last_name}} a mi Tienda</p>
     
     <a id="profile-button" class="button-scd"  href="/api/user/{{user.user.user._id}}/profile">Ir al perfil</a> 
   
    
  </div> 
  <div class="Prod">
    <p>Productos</p>    
  </div>
    <div id="product-list" class="card-container">
    {{#each products }}
     <div class="card-home">      
          <img class="prod-img" src="{{thumbnail}}" alt="">  
          <h2 class="card-title">{{this.name}}</h2>
          <p class="card-text">Categoría: {{category}}</p>
          <p class="card-text">Descripcion: {{description}}</p>
          <p class="card-text">Stock: {{stock}}</p>
          <p class="card-text">Precio: ${{price}}</p>   
          <button type="button" class="button-scd button-add-to-cart" class="{{user.user.user.cart}}" id="{{_id}}">Agregar al Carrito</button>  
          <button type="button" class="button-scd view-details-button" id="{{_id}}">Ver Detalles</button> 
        
      </div>
    {{/each}}
  </div>
  <div id="paginated">
    <p>Page {{ pagination.currentPage }} of {{ pagination.totalPages }}</p>
  
      {{#if pagination.hasPrevPage}}
        <a href="{{ pagination.prevLink }}">Anterior</a>
      {{/if}}
  
       {{#if pagination.hasNextPage}}
        <a href="{{ pagination.nextLink }}">Siguiente</a>
      {{/if}}
  </div>
  <div class="links d-flex align-items-center">        
        {{#if user}}            
            <p>Rol: {{user.user.user.role}}</p>            
            <button type="button" class="button-scd cart-button"  id="{{user.user.user.cart}}"> Ir al carrito</button>
            <button  id="socket-button" class="button-scd"  href="/chat">Ir al chat</button>
            <button id="logout-button"  class="button-scd">Cerrar Sesión</button>
        {{/if}}
        {{#if showEditButton}}
            <a type="button" class="button-scd"   href="/api/user">Ver usuarios</a>
            <a type="button" class="button-scd"   href="/api/updateproducts">Editar productos</a>
        {{/if}} 
        {{#if showChangeRole}}
            <button type="button" class="button-scd change-role-button" id="{{user.user.user._id}}" > Editar y mostrar usuarios</button>
        {{/if}}

    </div>



  

</div>
 
 <script src="/js/product.js"></script>
 <script src="/js/logout.js"></script>
 <script src="/js/cart.js"></script>
 <script src="/js/update-products.js"></script>
 <script src="/js/edit-user.js"></script>